.price-old p, .price-new p, .price-old,.price-new{
    margin: 0;
    display: flex;
    gap: 3px;
}
.price-new, .price-old{
    margin-bottom: 10px;
}
.price-old{
    text-decoration: line-through;
}
.desc h3{
    font-weight: 700;
    font-size: 34px;
}
#products-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr)); /* 2 qatorli layout */
  gap: 22px; /* Elementlar orasida bo'sh joy */
}
.fh5co-nav-toggle i::after {
    bottom: -7px;
    background-color: #fff;
  }
  .fh5co-nav-toggle i::before {
    top: -7px;
    background-color: #fff;
  }
  .fh5co-nav-toggle i{
    top: -7px;
    background-color: #fff;
  }
  .fh5co-nav-toggle.active i {
    background: transparent;
  }
  .fh5co-nav-toggle.active i::before {
    background-color: #fff;
  }
  .fh5co-nav-toggle.active i::after {
    background-color: #fff;
  }

.icon-bassket{
    width: 14px;
    height: 14px;
    margin-bottom: 3.5px;
}
.lead{
    align-items: center;
    align-content: center;
    align-self: center;
    
}