.price-old p, .price-new p, .price-old,.price-new{
    margin: 0;
    display: flex;
    gap: 3px;
}
.price-new, .price-old{
    margin-bottom: 10px;
}
.price-old, .product-price-old{
    text-decoration: line-through;
}
.desc h3{
    font-weight: 700;
    font-size: 34px;
}
#products-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr)); /* 2 qatorli layout */
  gap: 22px; /* Elementlar orasida bo'sh joy */
}
.fh5co-nav-toggle i::after {
    bottom: -7px;
    background-color: #328d44;
 
    width: 40px;
  }
  .fh5co-nav-toggle i::before {
    top: -7px;
    background-color: #328d44;
    
    width: 40px;
  }
  .fh5co-nav-toggle i{
    top: -7px;
    background-color: #328d44;
    width: 30px;
    
  }
  .fh5co-nav-toggle.active i {
    background: transparent;
  }
  .fh5co-nav-toggle.active i::before {
    background-color: #328d44;
   
  }
  .fh5co-nav-toggle.active i::after {
    background-color: #328d44;
    height: 2px;
  }

.icon-bassket{
    width: 14px;
    height: 14px;
    margin-bottom: 3.5px;
   
}
.lead{
    align-items: center;
    align-content: center;
    align-self: center;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;
    outline: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 4px;
    &:hover{
      color: #386641;
      outline: none;
      transition: all 0.2s ease;
      
    }
}
.logo{
    width: 150px;
}
.blog-img2 {
  display: inline-block; /* Rasmni o'z ichida ushlab turish */
  overflow: hidden; /* Rasm tashqariga chiqib ketmasligi uchun */
}

.blog-img2 img {
  display: block; /* Rasmni blok kabi ko‘rsatish */
  transition: transform 0.5s ease; /* Transform effektini qo‘shish */
  transform: scale(1.1);
}

.blog-img2:hover img {
  transform: scale(1); /* Hoverda rasmni kattalashtirish */
}
.blog-img2{
  position: relative;
}
.img-text{
  width: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
  @media screen and (max-width: 768px) {
    width: 80px;
  }
}
.img-text2{
  width: 100px;
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  @media screen and (max-width: 768px) {
    width: 80px;
    display: block;
    left: 35px;
    top: 28px;
  }
}
.fh5co-heading{
font-size: 30px;
margin-bottom: 10px;
@media screen and (max-width: 768px){
  font-size: 23px;
  margin-top: 15px;
  margin-bottom: 4px;
}
}
.product-description{
  font-size: 20px;
margin-bottom: 10px;
@media screen and (max-width: 768px){
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 4px;
}
}
.product-price-old{
  font-size: 20px;
  display: flex;
  margin-bottom: 0;
}
.product-price-new{
  font-size: 40px;
  font-weight: 550;
  margin-bottom: 0;
  @media screen and (max-width: 768px){
    font-size: 30px;
  }
}
.fh5co-footer ul li a{
  font-size: 17px;
}
.order-box:nth-child(2){
background-color: #386641;
}